<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de Cursos</span>
	                    </li>
	                </ul>
	            </div>
	            <a class="btn btn-primary btn-md" href="/cursos/cadastrar" role="button">
	                <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                <span>Incluir Curso</span>
	            </a>
	        </nav>
	
	        <div class="container" id="listagem">
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Nome</th>
	                        <th>Periodicidade</th>
	                        <th>Descrição</th>
	                        <th>Editar</th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    <tr>
	                        <td>1</td>
	                        <td>Tecnólogo em Banco de Dados</td>
	                        <td>Noite</td>
	                        <td>Conhecimentos de Banco de Dados e Desenvolvimento</td>
	                        <td colspan="2">
	                            <a class="btn btn-info btn-sm" href="/cursos/editar/1" role="button">
	                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
	                            </a>
	                            <button type="button" class="btn btn-danger btn-sm" >
	                                <span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>2</td>
	                        <td>Tecnólogo em Análise e Desenvolvimento de Sistemas</td>
	                        <td>Manhã</td>
	                        <td>Conhecimentos de Desenvolvimento</td>
	                        <td colspan="2">
	                            <a class="btn btn-info btn-sm" href="/cursos/editar/2" role="button">
	                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
	                            </a>
	                            <button type="button" class="btn btn-danger btn-sm" >
	                                <span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                    </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        
	    </section>

</body>
</html>		